/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans- serif;font-size:1em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}


div#wrap {
	width : 800px;
	1border : 1px solid red;
	margin-right : auto;
	margin-left : auto;
}

header >h1 {
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size : 5em;
	font-weight : 100;
	letter-spacing : 0.1em;
	text-align : center;
	margin-top : 100px;
}

div#formArea {
 	padding-left : 100px;
 	padding-top : 100px;
}

#formArea textarea {
	width : 600px;
	margin : 20px 0px;
	resize : none;
}


#formArea input[type=text] {
	height : 30px;
}

#formArea input[type=password] {
	height : 30px;
}

#formArea input[type=submit] , input[type=reset]  {
	margin-top : 20px;
	border : 0px;
	padding : 5px;
	background-color : gray;
	color : white;
	border-radius : 3px;
	font-size : 0.8em;
}